<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SmartAttention - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets_smart_attention/img/favicon.png" rel="icon">
  <link href="static/assets_smart_attention/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets_smart_attention/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets_smart_attention/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets_smart_attention/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets_smart_attention/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets_smart_attention/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets_smart_attention/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets_smart_attention/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets_smart_attention/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">SmartAttention</a></h1>
      

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">Features</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>SmartAttention</h1>
          <h2>A software that allows teachers and educators to monitor their students' devices in real-time and keep a check that they are alert during lectures.</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="">Step 1</a></h4>
            <p class="description">Connect a web camera to your system and allow the software to access the same.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-palette-line"></i></div>
            <h4 class="title"><a href="">Step 2</a></h4>
            <p class="description">Click on the Start button and keep your face in the range of the web camera</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="">Sleep Detection</a></h4>
            <p class="description">It will look for the facial features like "Eye Aspect Ratio" (EAR) that will detect features like closed eyes in between lectures or while performing an activity.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-fingerprint-line"></i></div>
            <h4 class="title"><a href="">Yawn Detection</a></h4>
            <p class="description">It will look for the facial features like "Mouth Aspect Ratio" (MAR) that will detect if a student is yawning during lectures or while performing an activity.</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

          <div class="section-title">
            <span>About SmartAttention</span>
            <h2>About Eduvison</h2>
            <p>A software that allows teachers and educators to monitor their students' devices in real-time and keep a check that they are alert during lectures.</p>
            </div>

        <div class="row">
          <div class="col-lg-6">
            <img src="static/assets_smart_attention/img/drowsiness.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <!-- <h3>About Eduvison</h3> -->
            <p class="fst-italic">
              The primary source of gaining knowledge is shifting to online courses because online courses are:-
              
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> economical</li>
              <li><i class="bi bi-check-circle"></i> flexible</li>
              <li><i class="bi bi-check-circle"></i> have plethora of courses to choose from</li>
              <li><i class="bi bi-check-circle"></i> provide comfortable environment</li>
              <li><i class="bi bi-check-circle"></i> the only left source of gaining knowledge in situations like the COVID-19 Pandemic</li>
              <li><i class="bi bi-check-circle"></i> permits everybody to have access to courses conducted by renowned professors from esteemed universities</li>
              <br><br>
              <p>However, online courses are less communicative as compared to classroom teaching. Whenever a teacher finds that the student 
                is inattentive because of drowsiness, they are able to capture the students’ interest back by asking them questions relevant 
                to the topic. In online courses, there is no such provision of two-way communication between the instructor and the attendee. 
                In other words, there is no one to keep a track of the students’ behaviour during the conduct of the lectures. To overcome this 
                issue, SmartAttention software provides the feature of detecting drowsiness of the attendee. The AI based software functions by looking for the facial features 
                like Mouth Aspect Ratio (MAR) and Eye Aspect Ratio (EAR), to detect if the attendee is drowsy or is yawning while the lectures are in progress or while performing an activity. </p>

            </ul>
            
            <div class="text-center">
              <form method="post" action="/start">
                <input type="submit" class="btn-learn-more" value="Start" name="Start"/>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row justify-content-end">

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2" class="purecounter"></span>
              <p>Accuracy</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="2" class="purecounter"></span>
              <p>Combinational Algorithms</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="2" class="purecounter"></span>
              <p>Additional Functionalities</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="2" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= About Video Section ======= -->
    <!-- <section id="about-video" class="about-video">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="static/assets_smart_attention/img/about-video.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bx bx-check-double"></i> Voluptate repellendus pariatur reprehenderit corporis sint.</li>
              <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End About Video Section -->

    

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>EXCLUSIVE FEATURES</h2>
          <p>Some exclusive features of Smart-Attention are as follows:</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The software uses accuately tuned algorithms to detect the face and eyes of the user. <br>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Accuractely Detects face and eyes</h3>
               
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The software uses multiple sound alerts with providing sounds at different intensitites in order to keep the user alert<br>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Multiple alert sounds</h3>
                
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  A feature of the attention feedback is also provided by the app after a particular lecture/class is over.<br>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Attention Feedback</h3>
                
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The app can run in background with low battery consuming. Users can run this app parallel with other apps such as YouTube, Google Maps, Google classroom etc.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Run in background</h3>
               
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The software uses accuately tuned algorithms to detect the if the user if drowsy (when he yawns) or sleepy (when eyes are shut). <br>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Detect Drowsy attendee</h3>
                
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <h3>Contact Us</h3>
          <p> Still Facing issue? Connect with us!</p>
          <a class="cta-btn" href="mailto:samridhi.kapoor2903@gmail.com">Contact Us</a>
        </div>
      </div>
    </section><!-- End Cta Section -->

    

    

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Still having queries? Let's get connected.</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7008.175544674384!2d77.25928452479874!3d28.567126929774414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3964f737f7f%3A0xad0a12f5c251a90e!2sFriends%20Colony%20East%2C%20New%20Friends%20Colony%2C%20New%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1653436384287!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Friends Street, New Delhi, India</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9876543210</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <!-- <form action="#" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form> -->

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Smart-attention</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="#home">Smart-attention</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets_smart_attention/vendor/purecounter/purecounter.js"></script>
  <script src="static/assets_smart_attention/vendor/aos/aos.js"></script>
  <script src="static/assets_smart_attention/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets_smart_attention/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets_smart_attention/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets_smart_attention/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets_smart_attention/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets_smart_attention/js/main.js"></script>

</body>

</html>
