<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SecurEx ALPR</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets_numplate_prog/img/favicon.png" rel="icon">
  <link href="static/assets_numplate_prog/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets_numplate_prog/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets_numplate_prog/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets_numplate_prog/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets_numplate_prog/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets_numplate_prog/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets_numplate_prog/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets_numplate_prog/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets_numplate_prog/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage - v4.7.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#hero">EDUVISION</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/assets_numplate_prog/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">Features</a></li>          
          <li><a class="nav-link scrollto" href="#footer">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>SecurEx ALPR</h1>
          <br><br>
          <h2>Automatic License Plate Recognition software that works in all environments and is optimized for your location.</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="">Step 1</a></h4>
            <p class="description">A picture of the vehicle (moving or stationary) is taken by the camera</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-palette-line"></i></div>
            <h4 class="title"><a href="">Step 2</a></h4>
            <p class="description">The picture is then uploaded to SecurEx for retrieving out the useful information using our SecureEx software</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="">Step 3</a></h4>
            <p class="description">Click on the Submit button to get the information displayed and wait for the popped out message which will indicate if the vehicle is allowed in the premises or not</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-fingerprint-line"></i></div>
            <h4 class="title"><a href="">Step 4</a></h4>
            <p class="description">Click on the export CSV button to get the data of all the vehicles that were allowed to enter the premises on a particular day</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <section id="about" class="about">
      <div class="container">

          <div class="section-title">
            <span>About SecureEx</span>
            <h2>About SecureEx</h2>
            <p>Automatic License Plate Recognition software that works in all environments and is optimized for your location.</p>
            </div>
            <br>

        <div class="row">
          <div class="col-lg-6">
            <img width="600" height="300" src="static/assets_numplate_prog/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <!-- <h3>About Eduvison</h3> -->
            <p class="fst-italic">
              Automatic Number Plate Recognition (ANPR) also called as License Plate Recognition (LPR) is a technology that uses advanced image processing and optical character recognition on video streams/images to read vehicle registration plates in real time to create vehicle location data.
            </p>
            <p>The advanced ANPR/LPR technology is part of our Numix video analytics suite and is powered with several software versions best suited for various computer vision and OCR application environments. It offers a flexible API that ensures easy integration with various types of security system. The ANPR technology can be easily customized to meet diverse applications.</p>
            <ul>
              <li><i class="bi bi-check-circle"></i> INPUT: Takes image in any format.</li>
              <li><i class="bi bi-check-circle"></i> OUTPUT: Decodes license plate, vehicle make, model, color and more!</li>
              <li><i class="bi bi-check-circle"></i> HARDWARE: Compatible with any smart phone or laptop/PC</li>
              <li><i class="bi bi-check-circle"></i> SPEED: Fast inference speed of 50 ms to 100 ms.</li>
            </ul>
            <p>
              What are you waiting for? Make your premisis more secure with SecurEx!
            </p>
          </div>
        </div>

      </div>
    </section>

    <!-- testimonial section -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">


        <div class="section-title">
          <span>Distinguishing Features of LogMeIn</span>
          <h2>Distinguishing Features of LogMeIn</h2>
          <p>In addition to using recent Face Recognition Technology, AttendLab® has great features that don’t find in any other Apps in the market.</p>
          </div>

        

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  It’s easy to decode a license plate from a high-res photo of a vehicle on a sunny day. But we know that in reality, the weather and other conditions are not always ideal. We have been relentlessly enhancing our algorithms to support various “real-life” factors, such as sun glare, blurry images, fast vehicles, night-time, and many more.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Environmental Factors Handled</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Our ALPR engine is like a teenager, it continues to learn. This means we can fine-tune our engine to help meet your specific needs, such as a certain camera angle or lighting condition. See how we worked to improve our ALPR for India, USA, Brazil, Thailand, Germany and more!<br><br>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Self Learning</h3>
                <h4>Designer</h4>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Let’s face it–not all plates are the same. Some have two rows of text. Some have icons at the beginning, middle or end of the plate. Some contain fancy fonts. Thankfully, our ALPR engine supports them all and is tuned specifically for your region.<br><br>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Location Optimised</h3>
                <h4>Designer</h4>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Unlike other LPR providers, we can return up to 5 decoded license plates from one image. We achieve this by utilizing two distinct neural networks. One identifies all the photos of license plates from an image and the other decodes each character of the plate.<br><br>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Five Better than One</h3>
                <h4>Designer</h4>
              </div>
            </div>
            </section>

<!-- end testimonial section -->



    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>SecurEx ALPR</h2>
          <p>Automatic License Plate Recognition software that works in all environments and is optimized for your location.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Some distinguishing features of SecurEx:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Our algo handles plates that are blurry, dark, tilted or angled alongside providing best accuracy!</li>
              <li><i class="ri-check-double-line"></i> Our ALPR engine supports over 90 countries and is tuned to your specific region.</li>
              <li><i class="ri-check-double-line"></i> We handle both Snapshot decodes plates from images and Stream processes as well</li>
              <li><i class="ri-check-double-line"></i> Get vehicle make, model, region, license plate number and the time of entry/arrival</li>
            </ul>
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0">
            <input type="file" class="btn-learn-more" accept="image/*" id="myFile" onchange="imageSetHandler()" name="filename" />
            <br><br><br>
            <div class="image-area mt-4"><img id="output" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
            <br><br><br>
            <input type="submit" class="btn-learn-more" onclick="getPlateInfo()" />
            
            <!-- <img id="output"  src="#" alt="image" /> -->
            </div>
          </section>

          <section id="about" class="about">
            <br>
                        <div class="section-title">
                          <h2>Results</h2>
                          <p>Trying out SecureEx ALPR and fetching results in seconds!</p>
                        </div>
                        <div class="container" data-aos="fade-up">
                          <div class="row content">
                      <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                          <ul>
                          <li  ><i class="bi bi-check-circle  "></i>Time Stamp: -  <span id="timeStampVal"> </span > </li>
                          <li  ><i class="bi bi-check-circle "></i>License Plate Number Detected: - <span id="numberPlateVal"> </span > </li>
                          <li  ><i class="bi bi-check-circle "></i>Country:- <span id="countryVal"> </span > </li>
                          
                  
                        </ul>
                  
                  
                  
                  
                      <p id="demo"></p>
                  
                      <button class="btn-learn-more" onclick="exportToCsv()">Export to CSV</button>
            
                        
                      </div>
                      <div class="col-lg-6 pt-4 pt-lg-0"><img src="static/assets_numplate_prog/img/images.jpg" width="400" 
                        height="200" alt="image" align="right"></div>
                    </div>
                  </div>
            
                    </section>      
                      <script>
                        
                        let Results = [];
                        const restricted = ["p688cc"];
                  
                        //Show image in id having output on running fucntion imageSetHandler
                        function imageSetHandler(e) {
                          const myFile = document.getElementById("myFile").files[0];
                          var output = document.getElementById('output');
                          output.src =  URL.createObjectURL(myFile);
                          
                        }
                  
                  
                        const getPlateInfo = async () => {
                          const myFile = document.getElementById("myFile").files[0];
                          const formData = new FormData();
                          formData.append("upload", myFile);
                          
                  
                          const response = await fetch(
                            "https://api.platerecognizer.com/v1/plate-reader/",
                            {
                              method: "POST",
                              body: formData,
                              headers: {
                                Authorization: "Token 11d713069d0cb70e62e788013eb9f74a60266f40 ",
                              },
                            }
                          );
                  
                          const data = await response.json();
                          console.log(data);
                  
                  
                          const monthArray =  ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                          const weekArray = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                          const apiDate =  data.timestamp;
                          let tempArray =  []
                          const date =  new Date(apiDate);
                  
                          const day =  date.getDate();
                          const month =  date.getMonth() + 1;
                          const year =  date.getFullYear();
                          const time =  date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();  
                          document.getElementById("timeStampVal").innerHTML = `${day} ${monthArray[month - 1]} ${year} ${time} `;
                          tempArray.push(`${day} ${monthArray[month - 1]} ${year} ${time} `);
                  
                          document.getElementById("numberPlateVal").innerHTML = data.results[0].plate;
                          restricted.map((item) => {
                            if(item == data.results[0].plate){
                              //document.getElementById("countryVal").innerHTML = "Restricted";
                              //tempArray.push("Restricted");
                              alert("This Number Plate is Restricted");
                            }
                          })
                          tempArray.push(data.results[0].plate);
                          
                  
                          
                          const countryVal =  document.getElementById("countryVal");
                          if(data.results[0].region.code=="in") {
                            countryVal.innerHTML = "India";
                            tempArray.push("India");
                          } else {
                            countryVal.innerHTML = data.results[0].region.code;
                            tempArray.push(data.results[0].region.code);
                          }
                          Results =  [["Time","Plate","Country"]]
                          
                  
                          if(localStorage.getItem("plate-data")){
                            const plateData = JSON.parse(localStorage.getItem("plate-data"));
                            plateData.push(tempArray);
                            plateData.map(item => {
                              Results.push(item);
                            });
                            
                            localStorage.setItem("plate-data", JSON.stringify(plateData));
                          } else {
                            localStorage.setItem("plate-data", JSON.stringify([tempArray]));
                          }
                          Results.push(tempArray);
                        };
                  
                        const exportToCsv = async ()=>{
                  
                          var CsvString = "";
                          Results.forEach(function(RowItem, RowIndex) {
                            RowItem.forEach(function(ColItem, ColIndex) {
                              CsvString += ColItem + ",";
                            });
                            CsvString += "\r\n";
                            });
                            CsvString = "data:application/csv," + encodeURIComponent(CsvString);
                            var x = document.createElement("A");
                            x.setAttribute("href", CsvString);
                            x.setAttribute("download", "somedata.csv");
                            document.body.appendChild(x);
                            x.click();
                  
                        }
                      </script>







        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row justify-content-end">

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-purecounter-start="0" data-purecounter-end="90" data-purecounter-duration="2" class="purecounter"></span>
              <p>Countries Supported</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-purecounter-start="0" data-purecounter-end="70" data-purecounter-duration="2" class="purecounter"></span>
              <p>ms speed</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-purecounter-start="0" data-purecounter-end="99" data-purecounter-duration="2" class="purecounter"></span>
              <p>Percent Accurate</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2" class="purecounter"></span>
              <p>Free Trials</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->



    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-6 footer-newsletter">
            <h4>Let's Get Connected</h4>
            <p>Any Queries? Give us a chance to serve via e-mail</p>
            <form action="#" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets_numplate_prog/vendor/purecounter/purecounter.js"></script>
  <script src="static/assets_numplate_prog/vendor/aos/aos.js"></script>
  <script src="static/assets_numplate_prog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets_numplate_prog/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets_numplate_prog/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets_numplate_prog/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets_numplate_prog/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets_numplate_prog/js/main.js"></script>

</body>

</html>